* {
    margin: 0;
    padding: 0;
    
    font-family: 'Ubuntu', sans-serif;
  }
  body {
      margin: 0;
      padding: 0;
     
  }
  
  .homepage {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 51, 0.45), rgba(0, 0, 51, 0.45)), url('https://preview.ibb.co/nCFisk/y5avds_EMo_MZLLYplm_Wb_HN_t_Bm_Rr4r_Pvsg_CFSbq_TQ_1d4tav_Us_QUNqg_w1200_h630_p.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* nav styles */
.Navbar {
  background-color: rgb(100, 19, 83);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}
.wrap {
  display: flex;
  font-size: 20px;
  width: 60%;
  justify-content: space-between;
}
.nav-link:hover {
  background-color: #f79090;
}

.nav-link.active {
  background-color: #fff;
  color: #444;
  cursor: default
}
.Navbar__Link {
  padding-right: 8px;
  
}
Navbar__Link-brand {
  margin-right: 40px;
  
}
.Navbar__Items {
  display: flex;
  
}
.Navbar__Items--right {
  margin-left:auto;
}
.Navbar__Link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .wrap {
    display: flex;
    justify-content:center;
  }
.Navbar__Items {
    display:none;
  }
.Navbar__Items--right {
    margin-left: auto;
  }
.Navbar__ToggleShow {
    display: flex;
  }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}



.nav-link {
  /* display: block; */
  color: white;
  text-align: center;
  
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Rochester', cursive;
  font-size: 1.2em;
  line-height: 40px
 
}


#logoo{
  color: #f790c9;
  text-decoration: none;
}

    
  /* login form styles */
  
  form {
      margin:0 auto;
      width:300px
    }
    input {
      margin:10px auto;
      padding:10px;
      width: 100%;
      border:1px solid #CCC
    }
    button {
      padding:10px ;
      margin:10px 4px;
      background:#f79090;
     
  
      
    }
    label {
      cursor:pointer
    }
    #form-switch {
      display:none
    }
    #register-form {
      display:none
    }
    #form-switch:checked~#register-form {
      display:block;
      margin-top: -120px;
    
    }
    
    
    #form-switch:checked~#login-form {
      display:none
    }
  
  .form-container {
     
      width: 550px;
      height: 500px;
      background: #edeff1;
     
      margin-top: 50px;
      margin-bottom: 80px;
      padding-top : 80px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
     
  }
  
  .form-container a {
   float:left;
   margin-top: 15px;
  }
  
  
  form a {
      text-decoration: none;
      color:black;
     margin:15px 40px;
  }
  
  .form-button{
    background:#f79090;
    border:2px solid white;
    padding:5px ;
    display:block;
    width: 30%;
    height: 20%;
  }
  
  form h2 {
      margin-top: -70px;
      margin-bottom :20px;
      text-align: center
  }
  form p {
    margin-top: 100px;
   float: right
  }
  
  /* footer styles */
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
   
    width: 100%;
    height: 50px;
    background-color:  rgb(100, 19, 83);
    color: white;
    text-align: center;
  }
  
  .footer p {
  
    margin: 20px 0 8px;
    
    }
  
  @media screen and (max-width: 600px) {
    .form-container {
        width: 100%;
        margin: 50px 0;
    }
    .logo{
      display: none;
       }
  }